* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	outline: none;
}
html {
  font-size: 62.5%;
}
.wrapper {
	font-size: 1.4rem;
	width: 80%;
	margin: 0 auto;
	font-family: Verdana;
	text-align: left;
}
.wrapper input, .wrapper select {
	padding: 1rem;
	border: .1rem solid dodgerblue;
	border-radius: 5px;
	font-size: 1.6rem;
}
.wrapper .send {
	background-color: dodgerblue;
	border: none;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 2rem;
}
.wrapper .send:hover {
	cursor: pointer;
	background-color: royalblue;
}
.wrapper p {
	text-align: left;
	margin-bottom: 1rem;
	font-size: 1.6rem;
}
.wrapper .small {
	font-size: 1.2rem;
}

/*------------------------------------------------Header--------------------------------------------*/
.header {
	margin-bottom: 2rem;
}
.header h1, .header h2 {
	text-align: left;
}
.header h1 {
	font:400 2rem Verdana;
	margin-bottom: 2rem;
	padding: 1rem;
}
.header h2 {
	font:400 1.6rem Verdana;
	margin-bottom: 2rem;
	padding: 1rem;
}
.form {
	width: 100%;
	margin: 0 auto;
}
/*-------------------------------------CONTACTS------------------------------------------*/
.contactsBlock {
	width: 100%;
	display: flex;
	flex-flow: column;
	margin-bottom: 2rem;
	padding-bottom: 4rem;
	border-bottom: 1px solid grey;
}
.contactsBlock label {
	margin: 1rem 0;
	float: left;
}

/*-------------------------------COUNTRIES----------------------------------*/
.countriesBlock {
	margin-bottom: 2rem;
	border-bottom: 1px solid grey;
	padding-bottom: 2rem;
}
.countriesBlock__immigration, .aboutUser__factors, .aboutUser__languages, .aboutUser__roots, .aboutUser__questions {
	width: 100%;
	display: flex;
	flex-flow: wrap;
	justify-content: flex-start;
}

.countriesBlock__immigration .check {
	text-align: left;
	padding: .5rem;
}
.countriesBlock__immigration .checkBlock, .aboutUser__languages .checkBlock{
	margin-right: 4rem;
}
.counriesBlock__immigration input {
	margin-right: 1rem;
	float: left;
}
/*---------------------------------------------------ABOUT USER----------------------------------------*/

.aboutUser__factors {
	margin-bottom: 4rem;
}
.aboutUser .check, .aboutUser__subscribe .check {
	text-align: left;
	padding: .5rem;
}
.aboutUser__factors input {
	margin-right: 1rem;
	float: left;
}
.aboutUser__education {
	margin-bottom: 2rem;
}
.aboutUser__professions select,.aboutUser__english select {
	width: 100%;
	margin-bottom: 4rem;
}
.aboutUser__age input, .aboutUser__education select, .aboutUser__professions select, .aboutUser__experience input, .aboutUser__english select, .aboutUser__marriage select, .aboutUser__people input, .aboutUser__children input, .aboutUser__finance select, .contactsBlock input, .countriesBlock__live select {
	width: 20%;
	height: 40px;
}
.aboutUser__english, .aboutUser__experience, .aboutUser__people, .aboutUser__children, .aboutUser__languages, .aboutUser__marriage, .aboutUser__finance, .aboutUser__subscribe, .aboutUser__roots, .aboutUser__questions, .aboutUser__age, .countriesBlock__live {
	margin-bottom: 2rem;
}
/*------------------------------------------BORDER-----------------------------------------------*/
.border {
	width: 100%;
	display: block;
	border-bottom: 1px solid grey;
	margin-bottom: 2rem;
}
/*------------------------------------------------MEDIA----------------------------------------*/

@media screen and (max-width: 767px) {
	.wrapper {
		width: 90%;
	}
	.form {
		width: 100%;
		margin: 0 auto;
	}
	.aboutUser__english, .aboutUser__experience, .aboutUser__people, .aboutUser__children, .aboutUser__languages, .aboutUser__marriage, .aboutUser__finance, .aboutUser__subscribe, .aboutUser__roots, .aboutUser__questions, .aboutUser__age, .countriesBlock__live {
		margin: 2rem auto;
	}

	.aboutUser__age input, .aboutUser__education select, .aboutUser__professions select, .aboutUser__experience input, .aboutUser__english select, .aboutUser__marriage select, .aboutUser__people input, .aboutUser__children input, .aboutUser__finance select, .contactsBlock input, .countriesBlock__live select {
		width: 100%
	}
	.countriesBlock__immigration .checkBlock, .aboutUser__languages .checkBlock{
		margin-right: 7rem;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.aboutUser__age input, .aboutUser__education select, .aboutUser__professions select, .aboutUser__experience input, .aboutUser__english select, .aboutUser__marriage select, .aboutUser__people input, .aboutUser__children input, .aboutUser__finance select, .contactsBlock input, .countriesBlock__live select {
		width: 40%
	}
}