.sprite {
    background-image: url(../assets/images/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-chevron {
    width: 7px;
    height: 4px;
    background-position: -5px -5px;
}

.sprite-dribble {
    width: 40px;
    height: 40px;
    background-position: -22px -5px;
}

.sprite-facebook {
    width: 40px;
    height: 40px;
    background-position: -72px -5px;
}

.sprite-flick {
    width: 40px;
    height: 40px;
    background-position: -122px -5px;
}

.sprite-g_ {
    width: 40px;
    height: 40px;
    background-position: -5px -55px;
}

.sprite-in {
    width: 40px;
    height: 40px;
    background-position: -55px -55px;
}

.sprite-inst {
    width: 40px;
    height: 40px;
    background-position: -105px -55px;
}

.sprite-mail {
    width: 22px;
    height: 22px;
    background-position: -5px -105px;
}

.sprite-phone {
    width: 22px;
    height: 22px;
    background-position: -37px -105px;
}

.sprite-pinterest {
    width: 40px;
    height: 40px;
    background-position: -69px -105px;
}

.sprite-position {
    width: 22px;
    height: 22px;
    background-position: -119px -105px;
}

.sprite-search {
    width: 40px;
    height: 40px;
    background-position: -172px -5px;
}

.sprite-skype {
    width: 22px;
    height: 22px;
    background-position: -155px -55px;
}

.sprite-twitter {
    width: 40px;
    height: 40px;
    background-position: -155px -87px;
}

.sprite-vimeo {
    width: 40px;
    height: 40px;
    background-position: -5px -137px;
}

.sprite-youtube {
    width: 40px;
    height: 40px;
    background-position: -119px -137px;
}
